/* Common */

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.6em;
}

h4 {
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    padding: 0px;
    margin: 0px;
    line-height: 1.2em;
}

#judges h4 {
    margin-bottom: 10px;
}

#case-info p {
    margin-bottom: 15px;
}

/* Structure */

#cases {
    /*position:absolute;  this causes the footer to overlay the content when short ads are displayed */
    width: 580px;
    padding: 20px;
    background: #fff;
/*    border: 1px solid #999;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;*/
}

#case {
    position: relative;
    float: left;
    width: 380px;
    height: 100%;
}
#case-info {
    padding: 10px;
    background: #ebf2f6;
    border: 2px solid #999;
    min-height: 295px;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
}

#judges {
    margin-top: 10px;
    font-size: 1.1em;
    line-height: 1.2em;
}

#judges #pro {
    width: 150px;
    clear: both;
    float: left;
    margin-right: 50px;
}

#judges #con {
    width: 150px;
    float: left;
}

#pro li, #con li {
    margin-right: 10px;
    float: left;
}

#case-list {
    position: relative;
    float: left;
    width: 200px;
}

div#cases ul#case-list li.selected {
    color: #000;
    font-weight: bold;
    border-top: solid 1px #999;
    border-right: solid 1px #999;
    border-bottom: solid 1px #999;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    -moz-border-radius-topright: 5px 5px;
    -moz-border-radius-bottomright: 5px 5px;
    -webkit-border-top-right-radius: 5px 5px;
    -webkit-border-bottom-right-radius: 5px 5px;
    /* background: url('images/arrow.png') no-repeat; */
}

div#cases ul#case-list li {
    cursor: pointer;
    font-size: 1.2em;
    padding: 3px 0px 2px 20px;
    min-height: 15px;
    margin: 5px 0px 5px 0px;
    color: #666;
}
